extends layout
block content
    each color in colors
        li This color is #{color}
    if username 
        p Welcome #{username}
        form(method="post")
                    //action="/goodbye"
            button(type="submit") Goodbye
    else
        form(action='/login' method='post')
            input(type='text' placeholder='Username' name='username')
            input(type='text' placeholder='Password' name='password')
            button(type='submit') Submit